.jumbotron{
    background-color: rgba(0, 0, 0, 0);
}
html, body{
    font-family: 'Poppins', sans-serif;
    color: #444;
}
p{
    font-weight: 300;
}

.navbar-custom, #foot{
    background-color: #6b63ff0e;
    color: #444;
}
#foot{
    text-align: center !important;
}
.navbar-custom a{
    color: #444;
}
.navbar-custom a:hover{
    color: #222;
}

.zoom{
    background-color: #6b63ff;
    border: #6b63ff;
}

.zoom:hover{
    background:#6b63ff0e;
    border:  #6b63ff0e;
    color: #444;
}
